@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 7px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: red;
  border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover{
  background-color: #bb0a0a;
  cursor: pointer;
}